@charset "UTF-8";
section:not(:first-child) {
  padding: 5% 10%;
  box-sizing: border-box;
}

.subTitleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.subTitleWrapper h2 {
  font-size: 1.75rem;
}
.subTitleWrapper p {
  font-size: 0.875rem;
  color: #666666;
}

.boxoffice_section {
  background-color: rgba(233, 233, 233, 0.351);
}
.boxoffice_section .BoxOfficeCardWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.eventCardWrapper {
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* 2개의 열 */
  gap: 1rem;
  /* 카드 간 간격 */
}
.eventCardWrapper div {
  width: 100%;
  display: block;
}
.eventCardWrapper div a {
  display: block;
}
.eventCardWrapper div a img {
  width: 100%;
  transition: 0.5s;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
}
.eventCardWrapper div a img:hover {
  transform: scale(0.98);
}