.BannerWrapper {
  background-color: black;
  color: white;
  position: relative;
  height: 70vh;
}
.BannerWrapper .video_wrapper {
  width: 70%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 1;
}
.BannerWrapper .video_wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  scale: 1.2;
}
.BannerWrapper .movieInfo {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  color: white;
  text-align: left;
}
.BannerWrapper .movieInfo div {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 15%;
}
.BannerWrapper .movieInfo h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.BannerWrapper .movieInfo a {
  border: 2px solid white;
  border-radius: 25px;
  padding: 0.5rem 1rem;
  color: white;
}

.BannerWrapper:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: linear-gradient(to right, #000 0%, rgba(0, 0, 0, 0.25) 45%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.25) 75%, #000 100%);
  z-index: 2;
}